{% extends "base.html" %}

{% block title %}
    Transfers
{% endblock %}

{% block content %}
<article class="content-section">
    <h2>Transfers</h2>
    <div class="container pb-3" align="center">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Date</th>
                    <th scope="col">Time</th>
                    <th scope="col">Amount</th>
                    <th scope="col">Coefficient</th>
                    <th scope="col">From</th>
                    <th scope="col">To</th>
                </tr>
            </thead>
            <tbody>
                {% for transfer in transfer_list %}
                    <tr>
                        <td>{{ transfer.datetime|date:"F d, Y" }}</td>
                        <td>{{ transfer.datetime|date:"H:i" }}</td>
                        <td>{{ transfer.amount }}</td>
                        <td>{{ transfer.coef }}</td>
                        <td><a href="{% url 'balance_detail' transfer.from_balance.id %}">{{ transfer.from_balance.name }}({{ transfer.from_balance.currency }})</a></td>
                        <td><a href="{% url 'balance_detail' transfer.to_balance.id %}">{{ transfer.to_balance.name }}({{ transfer.to_balance.currency }})</a></td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</article>
{% endblock content %}